<!DOCTYPE html>
<html>
  <head>
    <!--leaflet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
      integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
      crossorigin="">
    </script>

    <!--stylesheet-->
    <link rel="stylesheet"
          href="{{ url_for('static',filename='css/style.css') }}">

    <!--JQuery-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>

    <!--leaflet.markerclustergroup-->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>


    <title>Index</title>

  </head>

  <body>

    <div id="map">
    </div>

    <button id="refreshButton">Refresh Button</button>
    <button id="filterButton">></button>
    <div id="filterContainer">
      <legend>Select the Company:</legend>
      <div>
        <input type="radio" id="allCompanies" name="company" value="All" checked>
        <label for="allCompanies">All</label>
      </div>
      <div>
        <input type="radio" id="birdCompany" name="company" value="Bird">
        <label for="birdCompany">Bird</label>
      </div>
      <div>
        <input type="radio" id="neuronCompany" name="company" value="Neuron">
        <label for="neuronCompany">Neuron</label>
      </div>
      <button id="submit">Submit</button>
    </div>

    <div id="legendBox">
      <img class="icon" src="https://raw.githubusercontent.com/chshxiao/Calgary-shared-bikes-escooter-map/master/img/neuron_scooter2.png">
      <span class="legend">Neuron E-scooter</span>
      <br>
      <img class="icon" src="https://raw.githubusercontent.com/chshxiao/Calgary-shared-bikes-escooter-map/master/img/bird_scooter2.png">
      <span class="legend">Bird E-scooter</span>

    </div>

    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
  </body>
</html>